.footer {
    position: relatfive;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);   
    /* margin-bottom: 0.4em; */

}

.footer-text{
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5%;
}
